@import '@mixin';

.verBox {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 3px 13px 0 rgba(88, 97, 106, 0.1);
  background-color: #fff;
  @media (max-width: 960px) {
    overflow-x: auto;
    border-radius: 5px;
  }
  > div {
    @media (max-width: 960px) {
      width: 1080px;
    }
  }
}
